* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
}

h1, h3, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 800;
}

h6 {
    font-weight: 500;
    font-size: 13.5px;
}

.body-container {
    width: 900px;
    margin: 100px auto;
}

.aaron-image {
    border-radius: 100%;
    width: 40px;
    margin-right: 12px;
}

/*padding might be removed*/
.title-container {
    width: 100%;
    height: 15%;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}

.title-container > h1 {
    padding-bottom: 8px;
}

.feature-container {
    width: 100%;
    height: 35%;
    display: flex;
    padding-top: 24px;
}

.feature-image {
    width: 65%;
}

.feature-text-info {
    width: 35%;
    margin-left: 45px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.feature-text-info > h3 {
    font-size: 1.6rem;
    margin: 12px 0;
}

.author-info {
    display: flex;
    margin-top: 12px;
}

.article-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.article {
    width: 30%;
    height: 100%;
}

.article-image {
    width: 100%;
}

.article-text-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-text-info > h3 {
    font-size: 18px;
    margin: 12px 0;
}

